@import url(https://lsong.org/css/stylesheet.css);
@import url(https://lsong.org/stylesheets/button.css);
@import url(https://lsong.org/stylesheets/sidebar.css?v2);


.sidebar {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
  }

  .header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 0 1em;
    position: absolute;
    backdrop-filter: blur(12px) saturate(1.25);
  }

  main.content {
    padding: 50px;
    overflow: auto;
  }

  .sidebar {
    position: static;
  }

  .nav-bar {
    flex: 1 1 auto;
  }
}