x-sidebar>x-menu::part(menu) {
  padding: 0;
  list-style: none;
}

x-sidebar>x-menu::part(item) {
  padding: 1rem;
}

x-sidebar>x-menu::part(item):hover {
  background-color: var(--x-menu-item-hover-bg, #eee);
}

x-sidebar>x-menu::part(item-active) {
  color: var(--x-menu-item-active-color, #fff);
  background-color: var(--x-menu-item-active-bg, #0078d7) !important;
}